# 远程服务器运行配置 (示例)
M2W_HOST=0.0.0.0
M2W_PORT=80
M2W_BASE_URL=http://115.190.243.17:80
M2W_SITE_NAME=markdown2web (Prod)

# 后台管理
M2W_ADMIN_USERNAME=admin
M2W_ADMIN_PASSWORD=请修改此密码

# 功能开关
M2W_WATCH_ENABLED=false
